body {
    background-image: url('byeolPhoto/star.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#h1 {
    margin: auto;
    padding: 4rem;
    text-align: left;
    color: #daba06;
    font-family: 'Parisienne', cursive;
    text-shadow: 1px 2px 2px #f3f309;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#imgheading {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px #daba06;
}

#imgheading:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

@media(max-width: 1000px) {
    h1 {
        padding-bottom: 4rem;
    }
}

#nav {
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nav:hover {
    background:rgba(243, 243, 9, 0.2);
}

#nav svg {
    color: #daba06;
}

#nav svg:hover {
    color: #c36f09;
    transform: scale(1.4);
    transition: 0.3s;
}

img {
    margin: auto;
}

#album1, #album2, #album3 {
    color: #daba06;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    text-shadow: 1px 2px 2px #f3f309;
    font-family: 'Caveat', cursive;
}

#album3 {
    padding-right: 4rem;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(243, 243, 9, 0.2);
    color: #daba06;
    text-shadow: 1px 2px 2px #f3f309;
    font-family: 'Kurale', serif;
    font-size: 12px;
    padding-top: 1em;
}

#footer svg {
    color: #02cecb;
}

#footer svg:hover {
    color: #daba06;
    transform: scale(1.4);
    transition: 0.3s;
}



@media(max-width: 1000px) {
    #album1, #album3 {
        display: flex;
        flex-direction: column-reverse;
    }
    .carousel {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    #album3 {
        padding: 0;
    }
}

@media(max-width: 800px) {
    .carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media(max-width: 500px) {
    .carousel {
        padding-left: 0;
        padding-right: 0;
    }
}
