body {
    background-image: url('byeolPhoto/star.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    margin: auto;
    padding: 3rem;
    text-align: left;
    color: #daba06;
    font-family: 'Parisienne', cursive;
    text-shadow: 1px 2px 2px #f3f309;
}

h1 span {
    padding: 2rem;
}

#imgheading {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px #daba06;
}

@media(max-width: 600px) {
    h1 {
        text-align: center;
        padding-bottom: 4rem;
    }
}

#nav {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nav #navlink {
    color: #daba06;
}

#nav #navlink:hover {
    color: #c36f09;
}

img {
    margin: auto;
}

#album1, #album2, #album3 {
    color: #daba06;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    text-shadow: 1px 2px 2px #f3f309;
    font-family: 'Caveat', cursive;
}

#album3 {
    padding-right: 4rem;
}

footer {
    color: #daba06;
    text-shadow: 1px 2px 2px #f3f309;
    font-family: 'Parisienne', cursive;
    font-family: 'Satisfy', cursive;
}

footer #link {
    color: #02cecb;
}

footer #link:hover {
    color: #daba06;
}

footer p {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media(max-width: 1000px) {
    #album1, #album3 {
        display: flex;
        flex-direction: column-reverse;
    }
    .carousel {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    #album3 {
        padding: 0;
    }
}

@media(max-width: 800px) {
    .carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media(max-width: 500px) {
    .carousel {
        padding-left: 0;
        padding-right: 0;
    }
}
