
body {
    background-color: #fff6f9;
}

section {
    margin: 0;
}

h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ac2070;
    font-family: 'Parisienne', cursive;
}


#imgheading {
    border: 2px dashed #ffd7ba;
    border-radius: 50%;
    width: 15%;
    height: auto;
}

#nav {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nav:hover {
    background-color: #ffd7ba;
}

#nav #navlink {
    color: #ac2070;
}

#nav #navlink:hover {
    color: #c284c2;
}

.carousel-inner {
    padding: 10rem;
}

img {
    max-width: 100%;
    height: auto;
}

.carousel-indicators {
    filter: invert(1);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(1);
}

#spanlink {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #ac2070;
}

#spanlink:hover {
    color: #c284c2;
}

#footer {
    margin-top: 15%;
    border-top: 1px solid #c284c2;
    text-align: center;
}
#footer #copyright {
    color: #bdb2ff;
    font-family: 'Berkshire Swash', cursive;
    font-size: 12px;
}

@media(max-width: 1200px) {
    .carousel-inner {
        padding: 4rem;
    }
    #imgheading {
        width: 20%;
    }
}

@media(max-width: 800px) {
    .carousel-inner {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 3rem;
    }
    #imgheading {
        width: 30%;
    }
}

@media(min-width: 1200px) {
    .carousel-inner {
        padding-top: 1rem;
        padding-bottom: 4rem;
    }
}

@media(min-width: 800px) {
    .carousel-inner {
        padding-top: 0;
    }

}

@media(max-width: 600px) {
    #imgheading {
        width: 30%
    }
}
